

body .gform_wrapper .gform_body .gform_fields .gfield .ginput_complex .ginput_full {border: 1px solid red}

body .gform_wrapper .gform_body .gform_fields .gfield .name_first input {
  border: 1px solid red;}

body .gform_wrapper .gform_body .gform_fields .gfield .name_first label {color: red;}

body .gform_wrapper .gform_body .gform_fields .gfield .name_last {border: 1px solid red;}