.navbar-fixed {
    height: 70px; 
    position: fixed;
    @media #{$small-and-down} {
        height: 60px;
    }
}

nav {
    background: transparent;
    border: none;
    box-shadow: none;
    transition: 0.3s all linear;
    height: 70px;
    @media #{$small-and-down} {
        height: 55px;
    }
}

nav a {
    position: relative;
    display: inline-block;
    margin: 3px 0 0 0;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2px;
    font-weight: 300;
}

nav a:hover,
nav a:focus {
    outline: none;
}

nav ul a:hover {
    background-color: transparent;
}

nav.change-color {
    background-color: white;
    border-bottom: 1px solid lighten($black, 90);
}

nav.change-color li a {
    color: lighten($black, 50);
}

/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.cl-effect-1 a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}
/*
nav.change-color a:hover::before{
    color: lighten($black, 50);
    text-shadow: 10px 0 lighten($black, 50), -10px 0 lighten($black, 50);
}
*/
nav.change-color .button-collapse {
    color: green;
}

#nav-mobile li a {
    background-color: yellow;
}

