.brand-logo {
 	//width: 120px;
    margin: -.75em 0 0 .5em;
  	transition: 0.2s all linear;
  	&.change-size {
        color: black;
  	}
  	@media #{$small-and-down} {
  		width: 100%;
  		&.change-size {
    	//width: 150px;
  	}
  	}
}